.slideshow {
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.carousel {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -33%;
  flex-shrink: 0;
  transition: rotate 2s;
}
.slide {
  width: 320px;
  position: absolute;
  transform: rotate(-90deg);
  transition: rotate 2s;
}
.slide:nth-child(1) {
  bottom: -20rem;
}
.slide:nth-child(2) {
  left: -20rem;
}
.slide:nth-child(3) {
  top: -20rem;
}
.slide:nth-child(4) {
  right: -20rem;
}
.slide.active img {
  transform: scale(1.75);
  transition: transform 0.5s 0.5s;
}
.slide img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.rotateImg {
  transform: rotate(-90deg);
}
@media only screen and (max-width: 768px) {
  .slideshow {
    height: 500px;
  }
  .carousel {
    width: 100px;
    height: 100px;
  }
  .slide {
    width: 100px;
  }
  .slide:nth-child(1) {
    bottom: -10rem;
  }
  .slide:nth-child(2) {
    left: -10rem;
  }
  .slide:nth-child(3) {
    top: -10rem;
  }
  .slide:nth-child(4) {
    right: -10rem;
  }
  .slide.active img {
    transform: scale(3.5);
  }
}
