---
import { t } from "i18next"
import '../styles/about.css'
import { Trans } from "astro-i18next/components"
---
<section id="about" class="py-28">
    <div class="container mx-auto px-3">
        <div class="flex flex-col gap-28">
            <div class="flex flex-col items-center text-white">
              <h2 class="text-4xl md:text-5xl font-bold text-center md:max-w-[50%]">
                  <Trans i18nKey="about.firstTitle">
                    <span class="text-red-500">Top</span> Dishes <span class="text-yellow-500"> That Will</span> Make You <span class="text-red-500"> Love </span>
                  </Trans>
                </h2>
                <p class="mt-5 md:mt-10 md:max-w-[50%] md:text-lg text-center">{t("about.firstDes")}</p>
                <div class="flex gap-5 mt-7 flex-wrap justify-center">
                    <button type="button" class="px-4 py-2 rounded-3xl border border-white bg-red-400">{t("Dimsum")}</button>
                    <button type="button" class="px-4 py-2 rounded-3xl border border-white">{t("Panacotta")}</button>
                    <button type="button" class="px-4 py-2 rounded-3xl border border-white">{t("Dumplings")}</button>
                    <button type="button" class="px-4 py-2 rounded-3xl border border-white">{t("Yaourt")}</button>
                </div>
            </div>
            <div class="flex flex-col md:flex-row">
                <div class="flex flex-col md:w-[40%] order-last md:-order-last">
                    <img src="/assets/images/artbody.png" alt="chief" class="w-[80%] mx-auto">
                    <div class="text-white">
                        <Trans i18nKey="about.secondTitle">
                          <h2 class="text-4xl md:text-5xl font-black">Hao <span class="text-red-500">Kieu Ky</span> - Lao Tzu </h2>
                        </Trans>
                        <p class="mt-5 md:mt-10 md:text-lg text-justify font-poppins">{t("San Fu Lou dimsum restaurant is one of the most popular addresses specializing in Chinese delicacies in Saigon. This Cantonese culinary paradise has a variety of famous dimsums such as Phong Sa salted egg dumplings, fresh scallop shrimp dumplings, duck dumplings,... Besides dimsum, diners can also enjoy other dishes. Other delicious dishes include green bamboo chicken, Cantonese fried rice, etc. The dining space also has strong Cantonese architecture with rows of wooden tables and chairs, and very attractive red lanterns hanging from the ceiling.")}</p>
                    </div>
                </div>
                
                <div class="slideshow md:flex-1">
                    <div class="carousel">
                      <div class="slide active">
                        <img src="/assets/images/d1.png" />
                      </div>
                      <div class="slide">
                        <img src="/assets/images/d2.png" />
                      </div>
                      <div class="slide">
                        <img src="/assets/images/d3.png" />
                      </div>
                      <div class="slide">
                        <img src="/assets/images/background/dimsum.png" />
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../scripts/carousel.jsx"></script>
