---

---
<section id="contact" class="">
    <div class="container mx-auto">
        <div class="flex">
            <div class="text-white mt-52">
                <h2 class="text-5xl font-black">Sẽ Rất <span class="text-red-500">Dễ Dàng</span> Nếu <span class="text-yellow-500">Đặt hàng</span> <br/> Qua <span class="text-red-500">Ứng Dụng</span></h2>
                <p class="mt-10 max-w-[70%] text-lg font-poppins">All you need to do is downlode one of the best delivery apps, make a and most companies
                    are opting  for mobile app devlopment for food delivery</p>
                <div class="flex gap-7 mt-8 text-black">
                    <button type="button" class="bg-white rounded-2xl border-4 border-gray-400 p-2">
                        <a href="#" class="flex gap-2">
                            <img src="/assets/images/icons/chplay.svg" alt="googleplay" class="w-8">
                            <div class="text-justify font-medium">
                                <span class="text-xs">GET IT ON</span> <br/>
                                <span class="text-xl">Google Play</span>
                            </div>
                        </a>
                    </button>
                    <button type="button" class="bg-white rounded-2xl border-4 border-gray-400 p-2">
                        <a href="#" class="flex gap-2">
                            <img src="/assets/images/icons/apple.svg" alt="apple" class="w-8">
                            <div class="text-justify font-medium">
                                <span class="text-xs">Download on the</span> <br/>
                                <span class="text-xl">App Store</span>
                            </div>
                        </a>
                    </button>
                </div>
            </div>

            <div>
                <img src="/assets/images/background/human.png" alt="">
            </div>
        </div>
    </div>
</section>