---

---
<section id="home" class="py-32 h-[100dvh]">
    <div class="container mx-auto grid grid-cols-2">
        <div class="pt-32">
            <div class="relative w-fit">
                <h1 class="text-9xl font-bold font-lora">Dim sum</h1>
                <span class="absolute top-0 -right-7">
                    <img src="/assets/images/background/fire.png" alt="fire">
                </span>
            </div>
            <p class="mt-10 text-white text-xl font-poppins">Dimsum là món ăn truyền thống của người Trung Quốc, với vỏ ngoài 
                là một lớp bột mỏng và bên trong là nhân: Có thể là nhân vị mặn hoặc 
                ngọt, sau đó mang đi chiên, hấp,… Dimsum với phiên âm quốc tế là “điểm 
                sấm”, tiếng Việt đọc thành điểm tâm, hiểu đơn giản dimsum có nghĩa 
                là bữa ăn lót dạ thường dùng vào buổi sáng.</p>
        </div>
        <div class="">
            <img src="/assets/images/background/dimsum.png" alt="dimsum">
        </div>
    </div>
</section>
