---
import '../styles/mobilenav.css'
import {t} from "i18next"
---

<div class="lg:hidden">
    <div id="menuToggle" class="block lg:hidden">
          <input class="myChecked" type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
        <ul id="menu">
          <li class="menu-item text-white"><a href="#home">{t("Home")}</a></li>
          <li class="menu-item text-white"><a href="#about">{t("About")}</a></li>
          <li class="menu-item text-white"><a href="#food">{t("Food")}</a></li>
          <li class="menu-item text-white"><a href="#contact">{t("Contact")}</a></li>
        </ul>
    </div>
</div>

<script src="../scripts/mobile.js"></script>