---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="relative">	
		<Header/>
		<img src="/assets/images/background/mobile.png" alt="bg-mobile" class="h-full absolute top-0 right-0 left-0 -z-10 block md:hidden">
		<div class="relative h-full w-full">
			<img src="/assets/images/background/BackgroundBn.png" alt="bg-desktop" class="absolute top-0 right-0 -z-10 hidden md:block">
			<img src="/assets/images/bg.jpg" alt="no-des" class="absolute inset-0 -z-20 w-full h-full hidden md:block">
			<slot />
		</div>
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		--red-1: #F65F5F;
	}
	html {
		background: #13151a;
		scroll-behavior: smooth;
		transition: scroll ease-in 5s;
	}

	body{
		font-family: Roboto;
	}
	h1 {
  		font-size: 72px;
  		background: linear-gradient(147deg, #F2E9D7 18.73%, #F8D48B 81.27%);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	
</style>
